:root {
    --primary: #ffba00;
    --light: #ffffff;
    --dark: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Fira sans', sans-serif;
    user-select: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--dark);
    padding: 16px 32px;
    border-bottom: 3px solid var(--primary);
}

h1 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.menu {
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
}

.menu a { 
    color: var(--light);
    background-color: var(--primary);
    margin:  0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    margin-left: 35px;
    border-radius: 99px;
}

/** Student Roster Styling. 
*/

.student_roster_container {
    position: relative;
    display: flex;
    height: 80vh;
    background-color: black;
    margin: 10pt;
    box-shadow: 0 0 0 2pt inset var(--primary);
}

#student_roster {
    display: block;
    background-color: #000000;
    border-radius: 5pt;
    width: 100%;
    margin: 10pt;
}

.student_widget_div {
    position: relative;
    display: flex;
    font-size: 15pt;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    justify-content: space-between;
    padding: 5pt;
    margin: 5pt;
    padding-left: 10pt;
    border-radius: 5px;
    box-shadow: 2pt 2pt 5pt;
    background: #ffffff;
}

.student_widget_button {
    color: var(--dark);
    background-color: var(--primary);
    border-radius: 10pt;
    padding: 5pt;
    text-decoration: none;
    font-size: smaller;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

