:root {
    --primary: #ffba00;
    --light: #ffffff;
    --dark: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Fira sans', sans-serif;
    user-select: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--dark);
    padding: 16px 32px;
    border-bottom: 3px solid var(--primary);
}

h1 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.menu {
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
}

.menu a { 
    color: var(--light);
    background-color: var(--primary);
    margin:  0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    margin-left: 35px;
    border-radius: 99px;
}

/* Student Information Area. */

.student-information-div {
    position: relative;
    display: flex;
    height: 80vh;
    background-color: black;
    margin: 10pt;
    box-shadow: 0 0 0 2pt inset var(--primary);
    border-radius: 10pt;
}

.student-information-div div {
    position: relative;
    display: grid;
    grid-template-columns: 1;
    margin: 10pt;
    color: white;
    background-color: black;
}

.info-label {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}

.info-value {
    color: var(--primary);
    font-family: 'Courier New', Courier, monospace;
}